<div class="private-policy-container  ">
    <app-header [title]="'privatepolicy' | translate"></app-header>
    <div class="private-policy-content wide-screen">
        @if (currentLang == 'en') {
            <div class="content" >
                <div class="legal-notice-subcontainer">
                    <h1>Private Policy</h1>
                    <h2>1. Data protection at a glance</h2>
                <h3>General information</h3>
                <p>The following information provides a simple overview of what happens to your personal
                data when you visit this website. Personal data is all data with which you
                can be personally identified. You can find detailed information on the subject of data protection
                in our privacy policy listed below this text.</p>
                <h3>Data collection on this website</h3>
                <h4>Who is responsible for data collection on this website?</h4>
                <p>Data processing on this website is carried out by the website operator. You can find their contact details at
                in the “Information on the controller” section of this
                privacy policy.</p>
                <h4>How do we collect your data?</h4>
                <p>Your data is collected firstly when you provide it to us. This may be
                e.g. data that you enter in a contact form.</p>
                <p>Other data is collected automatically or with your consent by our
                IT systems when you visit the website. This is primarily technical data (e.g. internet browser, operating system or
                time of the page view). This data is collected automatically as soon as you enter this website
                .</p>
                <h4>What do we use your data for?</h4>
                <p>Some of the data is collected in order to ensure the error-free provision of the website.
                                        Other data may be used to analyze your user behavior.</p>
                <h4>What rights do you have regarding your data?</h4>
                <p>You have the right to obtain information about the origin, recipient and purpose of your personal data stored at
                at any time and free of charge. You also have the right to request the rectification
                or erasure of this data. If you have given your consent to data processing
                , you can revoke this consent at any time for the future. Furthermore,
                you have the right to request the restriction of the processing of your
                personal data under certain circumstances. Furthermore, you have the right to lodge a complaint with the competent supervisory authority at
                .</p>
                <p>You can contact us at any time regarding this and other questions on the subject of data protection.</p>
                <h2>2. General information and mandatory information</h2>
                <h3>Data protection</h3>
                <p>The operators of this website take the protection of your personal data very seriously. We treat
                    your personal data confidentially and in accordance with the statutory data protection regulations and
                    this privacy policy.</p>
                    <p>When you use this website, various pieces of personal data are collected. Personal
                    data is data with which you can be personally identified. This
                    privacy policy explains what data we collect and what we use it for. It
                    also explains how and for what purpose this is done.</p>
                    <p>We would like to point out that data transmission over the Internet (e.g. when communicating via
                    e-mail) may be subject to security vulnerabilities. Complete protection of data against access
                    by third parties is not possible.</p>
                    <h3>Storage period</h3>
                    <p>Unless a more specific storage period has been specified within this privacy policy,
                    your personal data will remain with us until the purpose for data processing
                    no longer applies. If you assert a justified request for deletion or revoke your consent to
                    data processing, your data will be deleted unless we have other legally
                    permissible reasons for storing your personal data (e.g.
                    retention periods under tax or commercial law); in the latter case, deletion will take place
                    after these reasons no longer apply. </p>
                    <h3>General information on the legal basis for data processing on this website</h3>
                    <p>If you have consented to data processing, we process your personal data on
                        on the basis of Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a GDPR, insofar as special
                        data categories are processed in accordance with Art. 9 para. 1 GDPR. In the event of express
                        consent to the transfer of personal data to third countries,
                        data processing is also carried out on the basis of Art. 49 para. 1 lit. a GDPR. If you have consented to the
                        storage of cookies or access to information in your end device (e.g. via
                        device fingerprinting), the data processing is also carried out on the basis of
                        of Section 25 (1) TTDSG. Consent can be revoked at any time. If your data is required for
                        contract fulfillment or for the implementation of pre-contractual measures,
                        we process your data on the basis of Art. 6 para. 1 lit. b GDPR. Furthermore, we process
                        your data if this is necessary to fulfill a legal obligation on
                        the basis of Art. 6 para. 1 lit. c GDPR. Data processing may also be carried out on the basis of our
                        legitimate interest in accordance with Art. 6 para. 1 lit. f GDPR. Information on the relevant legal bases in each individual case
                        is provided in the following paragraphs of this privacy policy
                    .</p>
                        <h3>Revocation of your consent to data processing</h3>
                        <p>Many data processing operations are only possible with your express consent.
                                            You can withdraw your consent at any time. The lawfulness
                        of the data processing carried out up to the point of withdrawal remains unaffected by the withdrawal.</p>
                        <h3>Right to object to data collection in special cases and to direct marketing (Art. 21
                        GDPR)</h3>
                        <p>if the data processing is based on art. 6 para. 1 lit. e or f gdpr, you 
                        have the right to object to the processing of your personal data at any time for reasons arising from your particular situation; this also applies to profiling based on these
                        provisions. the respective legal basis on which processing 
                        is based can be found in this privacy policy. if you object, we will no longer process your 
                        personal data concerned unless we can demonstrate compelling 
                        legitimate grounds for the processing which override your interests, rights and freedoms
                        or the processing serves the establishment, exercise or defense of 
                        legal claims (objection pursuant to art. 21 (1) GDPR).</p>
                        <p>If your personal data are processed for direct marketing purposes, you 
                        have the right to object at any time to processing of personal data concerning you
                        for such marketing, which includes profiling to the extent that it 
                        is related to such direct marketing. if you object, your personal data
                        will no longer be used for direct marketing purposes.
                                                (objection in accordance with ART. 21 ABS. 2 GDPR).
                                        </p>
                        <h3>Right to lodge a complaint with the competent supervisory authority</h3>
                        <p>In the event of infringements of the GDPR, data subjects have the right to lodge a complaint with a
                        supervisory authority, in particular in the Member State of their habitual residence, their place of work at
                        or the place of the alleged infringement. The right to lodge a complaint exists
                        without prejudice to any other administrative or judicial remedy.</p>
                        <h3>Right to data portability</h3>
                        <p>You have the right to have data that we process automatically on the basis of your consent or in fulfillment of a
                        contract handed over to you or to a third party in a common,
                        machine-readable format. If you request the direct transfer of the data
                        to another controller, this will only take place insofar as it is technically feasible.</p>
                        <h3>Information, erasure and rectification</h3>
                        <p>You have the right to obtain information free of charge at any time within the scope of the applicable legal provisions
                        about your stored personal data, its origin and recipients and the
                        purpose of the data processing and, if applicable, a right to rectification or erasure of this data. You can contact us at any time at
                        if you have any further questions on the subject of personal data.
                                        </p>
                        <h3>Right to restriction of processing</h3>
                        <p>You have the right to request the restriction of the processing of your personal data.
                                            You can contact us at any time to do this. The right to restriction of processing
                        exists in the following cases:</p>
                        <ul>
                        <li>If you contest the accuracy of your personal data stored by us,
                        we generally need time to verify this. For the duration of the
                        check, you have the right to request the restriction of the processing of your personal
                        data.</li>
    
                        <li>If the processing of your personal data was/is unlawful,
                        you can request the restriction of data processing instead of erasure.</li>
                        <li>If we no longer need your personal data, but you need it for the exercise,
                        defense or assertion of legal claims, you have the right to request
                        the restriction of the processing of your personal data instead of erasure at
                        .</li>
                        <li>If you have lodged an objection pursuant to Art. 21 (1) GDPR, a balance must be struck
                        between your interests and ours. As long as it has not yet been determined whose
                        interests prevail, you have the right to request the restriction of the processing of your
                        personal data.</li>
                        </ul>
                        <p>If you have restricted the processing of your personal data, this data
                        - apart from being stored - may only be processed with your consent or for the establishment,
                        exercise or defense of legal claims or for the protection of the rights of another
                        natural or legal person or for reasons of important public
                        interest of the European Union or of a Member State.</p>
                           
                         <p>This data is not merged with other data sources.</p>
                        <p>This data is collected on the basis of Art. 6 para. 1 lit. f GDPR. The website operator has
                        a legitimate interest in the technically error-free presentation and optimization of its website
                        - for this purpose, the server log files must be recorded.</p>
                        <h3>Request by e-mail, telephone or fax</h3>
                        <p>If you contact us by e-mail, telephone or fax, your request, including all personal data (name, request) resulting from it
                        will be stored and processed by
                        for the purpose of processing your request. We will not pass on this data without your consent.</p>
                        <p>This data is processed on the basis of Art. 6 para. 1 lit. b GDPR, provided that your request
                        is related to the fulfillment of a contract or is necessary for the implementation of pre-contractual
                        measures. In all other cases, the processing is based on our
                        legitimate interest in the effective processing of the inquiries addressed to us (Art. 6 para. 1 lit.
                        f GDPR) or on your consent (Art. 6 para. 1 lit. a GDPR) if this has been requested; the
                        consent can be revoked at any time. </p>
                        <p>The data you send to us via contact requests will remain with us until you ask us to delete it
                    , revoke your consent to storage or the purpose for
                        data storage no longer applies (e.g. after your request has been processed). Mandatory
                        statutory provisions - in particular statutory retention periods - remain unaffected .</p>
                        <br/>
                        <p class="link">Source: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
                </div>
            </div>
           
           
        } @else if (currentLang == 'zh') {
           
            <div class="content">
                <div class="legal-notice-subcontainer">
                    <h1>隐私策略</h1>
                    <h2>1.数据保护一览</h2>
                    <h3>一般信息</h3>
                    <p>以下信息简要概述了您访问本网站时，您的个人
                    数据将如何处理。个人数据是指
                    可以识别您个人身份的所有数据。有关
                    数据保护主题的详细信息，请参阅下文所列的我们的隐私政策。
                    </p>
                    <h3>本网站的数据收集</h3>
                    <h4>本网站的数据收集由谁负责？</h4>
                    <p>本网站的数据处理由网站运营商负责。您可以在本
                    隐私政策的 “控制者信息 ”部分找到他们的详细联系方式：
                    。</p>
                    <h4>我们如何收集您的数据？</h4>
                    <p>我们首先会在您向我们提供数据时收集您的数据。这可能是
                    ，例如您在联系表中输入的数据。</p>
                    <p>其他数据是在您访问网站时，由我们的
                    IT 系统自动收集或在您同意的情况下收集的。这主要是技术数据（如互联网浏览器、操作系统或
                    网页访问时间）。只要您进入本网站
                    ，这些数据就会被自动收集。</p>
                    <h4>我们使用您的数据做什么？</h4>
                    <p>收集部分数据是为了确保无差错地提供网站服务。
                         其他数据可能用于分析您的用户行为。</p>
                    <h4>关于您的数据，您有哪些权利？</h4>
                    <p>您有权随时免费获取有关您存储在
                    的个人数据的来源、接收方和目的的信息。您还有权要求更正
                    或删除这些数据。如果您同意对
                    的数据进行处理，您可以随时撤销对未来的同意。此外，
                    ，在某些情况下，您有权要求限制处理您的
                    个人数据。此外，您还有权通过
                    向负责监管的机构提出申诉。</p>
                    <p>您可以随时就数据保护方面的问题和其他问题与我们联系。</p>
                    <h2>2.一般信息和强制性信息</h2>
                    <h3>数据保护</h3>
                    <p>本网站的运营者非常重视保护您的个人数据。我们根据法定数据保护法规和
                        本隐私政策对
                        您的个人数据进行保密。
                    </p>
                    <p>当您使用本网站时，我们会收集各种个人数据。个人
                        数据是可以识别您个人身份的数据。本
                        隐私政策解释了我们收集哪些数据以及我们使用这些数据的目的。还解释了收集数据的方式和目的。
                    </p>
                    <p>我们希望指出，通过互联网进行数据传输（例如通过
                        电子邮件进行通信）可能存在安全漏洞。不可能完全保护数据不被第三方访问
                        。
                    </p>
                    <h3>存储期</h3>
                    <p>除非本隐私政策中规定了更具体的存储期，否则
                    您的个人数据将由我们保留，直至数据处理目的不再适用
                    。如果您提出合理的删除要求或撤销您对
                    数据处理的同意，您的数据将被删除，除非我们有其他法律
                    允许的理由保存您的个人数据（例如
                    税法或商业法规定的保存期限）；在后一种情况下，将在这些理由不再适用后删除
                    。</p>
                    <h3>关于本网站数据处理法律依据的一般信息</h3>
                    <ul>
                        <li>如果对您的个人数据的处理曾经/现在是非法的，
                        ，您可以要求限制数据处理，而不是删除。</li>
                        <li>如果我们不再需要您的个人数据，但您需要它来行使、
                        、辩护或主张法律索赔，您有权要求
                        限制对您的个人数据的处理，而不是删除，
                        。</li>
                        <li>如果您根据 GDPR 第 21 (1) 条提出反对，
                        ，必须在您的利益和我们的利益之间取得平衡。只要尚未确定谁的利益优先，
                        ，您就有权要求限制对您的
                        个人数据的处理。</li>
                     </ul>
                    
                    <p>如果您限制对您的个人数据的处理，这些数据 - 除了存储之外 - 只能在征得您同意的情况下，或为了确立、行使或捍卫法律诉求，或为了保护另一个 自然人或法人的权利，或为了欧盟或一个成员国的重要公共利益的情况下进行处理。</p>
                                
                    <p> 这些数据不会与其他数据源合并。</p>
                    <p> 这些数据的收集依据是《欧洲个人信息权公约》第 6 条第 1 款 f 项。网站运营方
                    在技术上无差错地展示和优化其网站
                    方面拥有合法权益--必须为此目的记录服务器日志文件。</p>
                    <h3>撤销您对数据处理的同意</h3>
                    <p>许多数据处理操作只有在您明确同意的情况下才有可能进行。 
                    您可以随时撤销您的同意。合法性
                    撤销之前进行的数据处理不受撤销的影响。</p>
                    <h3>反对特殊情况下的数据收集和直接营销的权利（第 21 条) </h3>
                   
                    <p>如果数据处理基于艺术。 6 段1 升e 或 f GDPR，您有
                    有权随时根据自身情况提出反对处理个人数据的理由
                    反对处理您的个人数据；这也适用于
                    基于法规的分析。处理的相关法律依据
                    可在本隐私政策中找到。如果您反对，我们将
                    不再处理相关的个人数据，除非我们能够证明令人信服
                    证明处理的合法理由凌驾于您的利益、权利和自由之上
                    超过或处理服务于主张、行使或辩护
                    合法索赔（根据 GDPR 第 21 条第 1 款提出异议）。</p>
                    <p>如果您的个人数据被处理用于直接营销目的，您有
                    有权随时反对处理您的个人数据
                    为了此类广告目的而提交数据；这也适用于分析，因为它
                    与此类直接广告相关。如果您反对，您的个人数据将
                    数据随后将不再用于直接营销目的。
                    （根据 GDPR 第 21 条第 2 款提出异议）。
                    </p>
                    <h3>向主管监督机构提出投诉的权利</h3>
                    <p>如果违反 GDPR，受影响的人有权向
                    监管机构，特别是在其惯常居住的成员国，其
                    工作场所或涉嫌违法行为的地点。存在上诉权
                    但不影响任何其他行政或司法补救措施。</p>
                    <h3>数据可携权</h3>
                    <p>您有权反对我们根据您的同意或为了履行一项义务而存储的数据的处理。
                    合同，对自己或对第三方共同，
                    以机器可读的格式。如果您希望直接传输数据
                    对于另一个控制器，只有在技术上可行的情况下才会这样做。</p>
                    <h3>信息、删除和更正</h3>
                    <p>你有权自由
                    有关您存储的个人数据、其来源和接收者的信息以及
                    数据处理的目的，以及如果适用，更正或删除该数据的权利。为了这
                    如对个人数据有任何疑问，您可以随时联系我们。
                    </p>    
                    <h3>通过电子邮件、电话或传真进行询问</h3>
                    <p>如果您通过电子邮件、电话或传真与我们联系，您的询问，包括由此产生的所有个人数据（姓名、询问内容）
                    ，将由
                    存储和处理，以便处理您的请求。未经您的同意，我们不会透露这些数据。</p>
                    <p>如果您的询问
                    与履行合同有关，或者是实施合同前
                    措施所必需的，我们将根据《欧洲个人信息权公约》第 6 条第 1 款 b 项处理这些数据。在所有其他情况下，处理的依据是我们
                    有效处理向我们提出的询问的合法权益（GDPR 第 6 条第 1 款第
                    f 项），或者是您的同意（GDPR 第 6 条第 1 款第 a 项）（如果已提出请求）；
                    同意可随时撤销。</p>
                    <p>您通过联系请求发送给我们的数据将保留在我们这里，直到您要求我们删除
                    、撤销您对数据存储的同意或数据存储的目的
                    不再适用（例如，在您的请求被处理之后）。强制性
                    法定条款--尤其是法定保留期--不受影响
                    。</p>
                    <br/>
                    <p class="link">资料来源: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
                </div>
            </div>
        } @else () {
            <div class="content">
                <div class="private-policy-subcontainer">
                    <h1>Datenschutzerklärung</h1>
                    <h2>1. Datenschutz auf einen Blick</h2>
                    <h3>Allgemeine Hinweise</h3>
                    <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen
                        Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
                        persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz
                        entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</p>
                    <h3>Datenerfassung auf dieser Website</h3>
                    <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
                    <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
                        können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser
                        Datenschutzerklärung entnehmen.</p>
                    <h4>Wie erfassen wir Ihre Daten?</h4>
                    <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich
                        z.&nbsp;B. um Daten handeln, die Sie in ein Kontaktformular eingeben.</p>
                    <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere
                        IT-Systeme erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem oder
                        Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website
                        betreten.</p>
                    <h4>Wofür nutzen wir Ihre Daten?</h4>
                    <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.
                        Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
                    <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
                    <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer
                        gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung
                        oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt
                        haben, können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem
                        haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
                        personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein Beschwerderecht bei der
                        zuständigen Aufsichtsbehörde zu.</p>
                    <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</p>
                    <h2>2. Allgemeine Hinweise und Pflicht­informationen</h2>
                    <h3>Datenschutz</h3>
                    <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
                        Ihre personenbezogenen Daten vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften sowie
                        dieser Datenschutzerklärung.</p>
                    <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene
                        Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
                        Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie
                        erläutert auch, wie und zu welchem Zweck das geschieht.</p>
                    <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&nbsp;B. bei der Kommunikation per
                        E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                        durch Dritte ist nicht möglich.</p>
                    <h3>Speicherdauer</h3>
                    <p>Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde,
                        verbleiben Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung
                        entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur
                        Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich
                        zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.&nbsp;B.
                        steuer- oder handelsrechtliche Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung
                        nach Fortfall dieser Gründe.</p>
                    <h3>Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser Website</h3>
                    <p>Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre personenbezogenen Daten auf
                        Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw. Art. 9 Abs. 2 lit. a DSGVO, sofern besondere
                        Datenkategorien nach Art. 9 Abs. 1 DSGVO verarbeitet werden. Im Falle einer ausdrücklichen
                        Einwilligung in die Übertragung personenbezogener Daten in Drittstaaten erfolgt die
                        Datenverarbeitung außerdem auf Grundlage von Art. 49 Abs. 1 lit. a DSGVO. Sofern Sie in die
                        Speicherung von Cookies oder in den Zugriff auf Informationen in Ihr Endgerät (z.&nbsp;B. via
                        Device-Fingerprinting) eingewilligt haben, erfolgt die Datenverarbeitung zusätzlich auf Grundlage
                        von § 25 Abs. 1 TTDSG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre Daten zur
                        Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen erforderlich,
                        verarbeiten wir Ihre Daten auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO. Des Weiteren verarbeiten wir
                        Ihre Daten, sofern diese zur Erfüllung einer rechtlichen Verpflichtung erforderlich sind auf
                        Grundlage von Art. 6 Abs. 1 lit. c DSGVO. Die Datenverarbeitung kann ferner auf Grundlage unseres
                        berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO erfolgen. Über die jeweils im Einzelfall
                        einschlägigen Rechtsgrundlagen wird in den folgenden Absätzen dieser Datenschutzerklärung
                        informiert.</p>
                    <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
                    <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
                        Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit
                        der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
                    <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21
                        DSGVO)</h3>
                    <p>Wenn die datenverarbeitung auf grundlage von art. 6 abs. 1 lit. e oder f dsgvo erfolgt, haben sie 
                        jederzeit das recht, aus gründen, die sich aus ihrer besonderen situation ergeben, gegen die 
                        verarbeitung ihrer personenbezogenen daten widerspruch einzulegen; dies gilt auch für ein auf diese
                         bestimmungen gestütztes profiling. die jeweilige rechtsgrundlage, auf denen eine verarbeitung 
                         beruht, entnehmen sie dieser datenschutzerklärung. wenn sie widerspruch einlegen, werden wir ihre 
                         betroffenen personenbezogenen daten nicht mehr verarbeiten, es sei denn, wir können zwingende 
                         schutzwürdige gründe für die verarbeitung nachweisen, die ihre interessen, rechte und freiheiten
                          überwiegen oder die verarbeitung dient der geltendmachung, ausübung oder verteidigung von 
                          rechtsansprüchen (widerspruch nach ART. 21 ABS. 1 DSGVO).</p>
                    <p>Werden ihre personenbezogenen daten verarbeitet, um direktwerbung zu betreiben, so haben sie 
                        das recht, jederzeit widerspruch gegen die verarbeitung sie betreffender personenbezogener
                         daten zum zwecke derartiger werbung einzulegen; dies gilt auch für das profiling, soweit es 
                         mit solcher direktwerbung in verbindung steht. wenn sie widersprechen, werden ihre personenbezogenen
                          daten anschließend nicht mehr zum zwecke der direktwerbung verwendet.
                           (wierspruch nach ART. 21 ABS. 2 DSGVO).
                    </p>
                    <h3>Beschwerde­recht bei der zuständigen Aufsichts­behörde</h3>
                    <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
                        Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres
                        Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht
                        unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.</p>
                    <h3>Recht auf Daten­übertrag­barkeit</h3>
                    <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
                        Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen,
                        maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten
                        an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
                    <h3>Auskunft, Löschung und Berichtigung</h3>
                    <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche
                        Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
                        Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu
                        sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit an uns wenden.
                    </p>
                    <h3>Recht auf Einschränkung der Verarbeitung</h3>
                    <p>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                        Hierzu können Sie sich jederzeit an uns wenden. Das Recht auf Einschränkung der Verarbeitung
                        besteht in folgenden Fällen:</p>
                    <ul>
                        <li>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten,
                            benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der
                            Prüfung haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen
                            Daten zu verlangen.</li>
                        <li>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht,
                            können Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen.</li>
                        <li>Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
                            Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht,
                            statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
                            verlangen.</li>
                        <li>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung
                            zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen
                            Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer
                            personenbezogenen Daten zu verlangen.</li>
                    </ul>
                    <p>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten
                        – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung,
                        Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen
                        natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
                        Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.</p>
            
                    <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
                    <p>Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat
                        ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website
                        – hierzu müssen die Server-Log-Files erfasst werden.</p>
                    <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
                    <p>Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus
                        hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei
                        uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
                    <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage
                        mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher
                        Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem
                        berechtigten Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit.
                        f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde; die
                        Einwilligung ist jederzeit widerrufbar.</p>
                    <p>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur
                        Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die
                        Datenspeicherung entfällt (z.&nbsp;B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende
                        gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben
                        unberührt.</p>
                    <br/>
                    <p class="link">Quelle: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
                </div>
            </div>
           
        }
     </div>
    <app-footer></app-footer>
</div>

